*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}
header{
    height:100vh;
    background :rgba(20, 25, 30,0.5) url(pexels.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;

}
ul{
    float: right;
    list-style-type:none;
    margin-top: 25px;
    margin-right: 25px;
}
li{
    display: inline-block;
}
a{
    position: relative;
    text-decoration: none;
    background-color: aliceblue;
    color:black;
    transition: 0.6s ease;
    padding: 7px 20px;
    border-radius: 20px ;
}
a:hover{
    background-color: rgb(6, 36, 34);
    color:rgb(237, 239, 241)
}
 a:active{
    background-color: rgb(236, 172, 172);
    color:rgb(237, 239, 241)
}
pre{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:23px;
    padding-top: 200px;
}